[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
collections_paths = ./collections
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
